* {
	margin: 0px; 
	padding: 0px; 
    box-sizing: border-box;
    font-family: Poppins;
}

.wrap-content {
    margin: 20px auto;
}

body {
    background-color: white;
}

nav {
    background-color: whitesmoke;
    width: 100%;
    color: #5829B8;
    font-weight: 800;
    font-size: 32px;
    line-height: 50px;
    padding-left: 10px;
}

.welcome {
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 20px;
    border: none;
    /*border-bottom: 1px solid;*/
}

.container {
    float: right;
    height: 600px;
    width: 85%;
    /*border: 1px solid gray;*/
}

.side-bar {
    float: left;
    height: 600px;
    width: 14%;
    background-color: white;
    color: #800080;
    font-size: 25px;
    
}

.nav-img {
    width: 26px;
    height: 33px;
}

.side-img {
    width: 70px;
    height: 60px;
    color: #800080;
    padding: 5px;
}

.home {
    /*border: 1px solid darkgrey;*/
    height: 100px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.trans {
    /*border: 1px solid darkgrey;*/
    height: 100px;
    text-align: center;
    margin-top: 10px;
    background-color: #800080;
    color: white;
    font-weight: bold;
    padding-bottom: 10px;
}

.reports {
    /*border: 1px solid darkgrey;*/
    height: 100px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.empty {
    height: 100px;
    /*border: 1px solid darkgrey;*/
}

.logout {
    /*border: 1px solid darkgrey;*/
    height: 100px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.right {
    float: right;
}

h2 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    margin: 20px auto;
    
}

#form-cont {
    width: 100%;
    margin: 30px auto;
    padding-left: 15px;
    text-align: center;
}

input, select {
    margin-bottom: 10px;
    width: 80%;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
}

button {
    border: 4px solid #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    margin: 0px auto;
    width: 80%;
    font-size: 15px;
    background: #800080;
    color: #FFFFFF;
    text-align: center;
}